<title>MyFirstApp {{title}}</title>
<body class="container">
<br><br>
<div class="row">
  <!--<form name = "DetailsForm">-->
    <div id="panel">
      <table  align="center" cellpadding="10">
        <tr><td>First Name :</td><td><input class="form-control" id = "fname"  type="text" title="Minimum 5 letters" required placeholder="Enter the First name"  pattern="[a-zA-Z]{5,}" autofocus/></td></tr>
        <tr><td>Last Name:</td><td><input class="form-control" id = "lname"  type="text" title="Minimum 5 letters" required placeholder="Enter the Last Name"  pattern="[a-zA-Z]{5,}" autofocus/></td></tr>
        <tr><td>Email-Id:</td><td><input class="form-control" id = "mailid"  type="email"  required placeholder="Enter the Email-id"  autofocus/></td></tr>
        <tr><td>Mobile Number:</td><td><input class="form-control" id = "mobnum" type="text"  title="Other Characters are not allowed except numbers" required pattern="[0-9]{10}" placeholder="Mobile Number"  autofocus/></td></tr>
        <tr><td><button id="button" class="btn btn-success" (click)="mehtod()">Submit</button></td></tr>
      </table>
    </div>
  <!--</form>-->
</div>
</body>
<!--
<body class="container">
<br><br>
<div class="row">
  &lt;!&ndash;<form name = "DetailsForm">&ndash;&gt;
  <div id="panel">
    <table  align="center" cellpadding="10">
      <tr><td>First Name :</td><td><input class="form-control" id = "fname" [(ngModel)]="JsonObjecttemp.fname" type="text" title="Minimum 5 letters" required placeholder="Enter the First name"  pattern="[a-zA-Z]{5,}" autofocus/></td></tr>
      <tr><td>Last Name:</td><td><input class="form-control" id = "lname" [(ngModel)]="JsonObjecttemp.lname" type="text" title="Minimum 5 letters" required placeholder="Enter the Last Name"  pattern="[a-zA-Z]{5,}" autofocus/></td></tr>
      <tr><td>Email-Id:</td><td><input class="form-control" id = "mailid" [(ngModel)]="JsonObjecttemp.mailid" type="email"  required placeholder="Enter the Email-id"  autofocus/></td></tr>
      <tr><td>Mobile Number:</td><td><input class="form-control" id = "mobnum" [(ngModel)]="JsonObjecttemp.mobnum" type="text"  title="Other Characters are not allowed except numbers" required pattern="[0-9]{10}" placeholder="Mobile Number"  autofocus/></td></tr>
      <tr><td><button id="button" class="btn btn-success" (click)="mehtod()">Submit</button></td></tr>
    </table>
  </div>
  &lt;!&ndash;</form>&ndash;&gt;
</div>
</body>
-->

<!--<app-first-component>-->


<!--</app-first-component>-->
<app-second-component [arr]="arr">

</app-second-component>
<!--<app-third-component>-->

<!--</app-third-component>-->
